# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
#products
/products
/products_with_watermarks
/products_with_watermarks1
/12_july_products
/12_july_products_watermarked
/Canva-19-Jul
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
