/* src/components/Navbar.css */
.my-navbar {
  background-color: rgb(8,108,92) !important; /* Custom green */
}

.my-navbar .navbar-brand,
.my-navbar .nav-link {
  color: white !important;
  cursor: pointer !important;
}
